<header>
    <nav>
        <div class="nav-wrapper indigo darken-4">
            <a class="brand-logo" href="#">Weather-App</a>
            <a href="" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a>Reload</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav indigo lighten-5" id="mobile">
        <li><img src="/images/download.jpg"></li>
        <li><a>Reload</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>

    </ul>
</header>